
.recommended-flex button {
  display: flex;
  margin-left: 20rem;
 
  display: none;

  
}

@media screen and (min-width: 480px) {
  .recommended-flex button {
    margin-left: 20rem;
   
    display: block;
  }
}

.location {
  margin-left: 10rem;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 15px
  
}
@media screen and (min-width: 480px) {
  .location {
    margin-left: 20rem;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 10px
    
  }
}


.recommended-flex Button:hover {
  background-color: yellow;
}

.recommended-title {
  margin-left: 10rem;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 20px;
}

@media screen and (min-width: 480px) {
  .recommended-title {
    margin-left: 20rem;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
  }
}